@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(226, 226, 226);
}

header.container {
    background-color: rgb(168, 168, 168);
    width: 100vw;
    height: 10vh;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly ;
    
}

h1 { /* <h1>Meu Site Flexbox</h1> */
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 10px;
    width: 45%;
    height: 30px;

    align-content: center;
    text-align: center; 
    
    font-size: 1.5em;
}

/* nav {
    margin-top: 10px;
    padding: 5px;
    width: 50vw;
    text-align: center;
    
}*/

header > nav > a.bloco {
    background-color: black;
    width: 300px;
    color: white;    
    padding: 5px;
    border-radius: 10px;
}

main.container1 {
    background-color: white;
    width: 70vw;
    height: 50%;
    margin: 100px auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-flow: column nowrap;
    
}

#item { /* <h2 id="item">Texto para Flexbox</h2> */
    background-color: beige;
    margin: 5px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    
    align-content: center;
    text-align: center;       
    /* flex-basis: 50px; */
}

#item1 { /* <p id="item1">Texto Lorem</p> */
    background-color: rgb(211, 255, 255);
    margin: 5px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

    align-content: center;
    text-align: center;

}