@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(226, 226, 226);
}

header.container {

    background-color: rgb(168, 168, 168);

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
}

h1 { /* <h1>Meu Site Flexbox</h1> */
    
    background-color: black;
    color: white;
    margin: auto;
    padding: 5px;
    border-radius: 10px;
    min-width: 40vw;
    height: 30px;

    text-align: center;
    align-content: center;   
    
    font-size: 1.5em;
}

nav {

    background-color: #662726;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
    min-width: 44vw;

    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    
}

header > nav > a.bloco {

    background-color: black;
    color: white;
    width: 100px;
    margin: 5px;  
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}

main.container1 {
    background-color: white;
    width: 70vw;
    height: 50%;
    margin: 100px auto;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

    display: flex;
    flex-flow: column nowrap;
    
}

#item { /* <h2 id="item">Texto para Flexbox</h2> */
    background-color: #374E52;
    color: white;
    margin: 5px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    
    align-content: center;
    text-align: center;       
    /* flex-basis: 50px; */
}

#item1 { /* <p id="item1">Texto Lorem</p> */
    background-color: #7D8A8C;
    margin: 5px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);

    align-content: center;
    text-align: center;

}