@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {

    width: 100vw;
    height: 100vh;    
    background-color: black;

}

main {

    position: relative;
    width: 100vw;

}

section#iphone {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
    background-color: white;
    width: 311px;
    height: 627px;
    background: url(../imagens/frame-iphone.png);
    
}

div#tela > img {

    position: absolute;
    /* background: url(../imagens/tela-home.jpg); */
    background-size: cover;
    /* background-color: green; */
    width: 267px;
    height: 471px;
    top: 80px;
    left: 22px;
}

section#botoes > a > img {

    position: absolute;
    top: 15px;
    left: 15px;
    background-color: aliceblue;
    width: 50px;
    height: 50px;    
}