@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {

    width: 100vw;
    height: 100vh;    
    background-color: black;

}

body {
    background: url(../imagens/piso.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

main {

    position: relative;
    width: 100vw;

}

section#iphone { /* esta section representa o iphone */

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 10%);
    width: 311px;
    height: 627px;
    background: url(../imagens/frame-iphone.png);
    
}

iframe#tela { /* este iframe representa o iframe com id=tela, que chama a página home.html */

    position: absolute;
    width: 267px;
    height: 471px;
    top: 80px;
    left: 22px;
}

section#social { /* esta section representa os botões de tela de redes sociais */

    position: absolute;
    width: 267px;
    height: 471px;
    top: 80px;
    left: 22px;
    
}